body {
  margin: 0;
}
/* 
.list-bg {
    background: rgb(249, 250, 255);
    padding: 10px;
  }
  .list-item {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  }
  .list-item h4 {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
  }
  .list-item p {
    color: grey;
    margin : 5px 0px;
  }  */

  /* p-20 {
    padding: 20px;
    margin: 0 auto; 
  } */
  /* 수평 가운데 정렬 */

  .input {
    box-sizing: border-box;
    padding: 10px;
    display: block;  
  }
  button {
    padding: 10px 15px;
    background: lightgray;
    border: none;
    border-radius: 5px;
    
  } 
  .navbar a {
    margin-right: 0px;
    text-decoration: none;
  } 

  .navbar {
    /* background: #d6f1e8; */
    background: rgb(188, 233, 241);
    padding: 15px;
  }


  .title {
    text-align: center;
    margin-top: 200px;
  }
  .title-sub {
    text-align: center;
  }
  /* 배경 타이틀 색상 */

  .minititle {
    text-align: center;
    margin-top: 50px;
  }
  .minititle-sub {
    text-align: center;
  }

  body {
    margin : 0;
    background-color: #ffffff;
    color : rgb(10, 0, 0)
  }

  .list-item {
    opacity: 1;
    transition: all 1s;
  } 

  /* 네브바 버튼 */
  .button-navbar {
    font-weight: bold;
    font-size: 20px;
    color: white; /* 기본 글자색 */
    text-shadow: 
        0.5px 0.5px 1px gray, 
        -0.5px -0.5px 1px gray,
        0.5px -0.5px 1px gray,
        -0.5px 0.5px 1px gray; 
        
        /* 얇고 연한 회색 테두리 효과 */
}

.Box-url {
  margin-top: 30px; /* 상단 여백 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  text-align: center;
  font-size: 55px;
  color: gray;
  border: 2px solid gray; /* 테두리 추가 */
  border-radius: 8px; /* 모서리 둥글게 */
  background-color: #f9f9f9; /* 배경색 추가 */
  height: 630px; /* 원하는 박스 높이 설정 */
}



.button-navbar:hover {
    background-color: #1976D2; /* 마우스 오버 시 배경색 */
}

.Accordion-blue {
  font-weight: bold;
  font-size: 30px;
  color: white; /* 기본 글자색 */
  background-color: #1976D2;
}



/* Sidebar listItem  */
.Accordion-Bg {
  font-weight: bold;
  font-size: 20px;
  color: white; /* 기본 글자색 */
  background-color: #1976D2;
  /* text-shadow: 
      0.5px 0.5px 1px gray, 
      -0.5px -0.5px 1px gray,
      0.5px -0.5px 1px gray,
      -0.5px 0.5px 1px gray;  */
      
      /* 얇고 연한 회색 테두리 효과 */
}

.table-header {
  font-weight: bold;
  font-size: 15px;
  color: white; /* 기본 글자색 */
  background-color: #2e7ecf;
  text-align: center; /* 가운데 정렬 */
  text-shadow: 
      0.5px 0.5px 1px gray, 
      -0.5px -0.5px 1px gray,
      0.5px -0.5px 1px gray,
      -0.5px 0.5px 1px gray; 
      
      /* 얇고 연한 회색 테두리 효과 */
}
.table-header:hover {
  background-color: #71d6b5; /* 마우스 오버 시 배경색 */
  
}


.Accordion-Bg:hover {
  background-color: #1976D2; /* 마우스 오버 시 배경색 */
}


.button-blue {
  font-weight: bold;
  color: white; /* 기본 글자색 */
  background-color: #6a99e4;
   text-shadow: 
      0.5px 0.5px 1px gray, 
      -0.5px -0.5px 1px gray,
      0.5px -0.5px 1px gray,
      -0.5px 0.5px 1px gray; 
}

.button-blue:hover {
  background-color: black; /* 마우스 오버 시 배경색 */
}


.button-red {
  font-weight: bold;
  color: white; /* 기본 글자색 */
  background-color: #ec6060;
  text-shadow: 
  0.5px 0.5px 1px gray, 
  -0.5px -0.5px 1px gray,
  0.5px -0.5px 1px gray,
  -0.5px 0.5px 1px gray; 
}
.button-red:hover {
  background-color: black; /* 마우스 오버 시 배경색 */
}


.button-bg { 
  font-weight: bold;
  color: white; /* 기본 글자색 */
  background-color: #44be86;
  text-shadow: 
  0.5px 0.5px 1px gray, 
  -0.5px -0.5px 1px gray,
  0.5px -0.5px 1px gray,
  -0.5px 0.5px 1px gray; 
}
.button-bg:hover {
  background-color: black; /* 마우스 오버 시 배경색 */
}


.button-orange {   
  font-weight: bold;
  color: white; /* 기본 글자색 */
  background-color: #44be86;
  text-shadow: 
  0.5px 0.5px 1px gray, 
  -0.5px -0.5px 1px gray,
  0.5px -0.5px 1px gray,
  -0.5px 0.5px 1px gray; 
}
.button-orange:hover {
  background-color: black; /* 마우스 오버 시 배경색 */
}
/* 녹색배경 */



/* Sidebar listItem  */
.typo-sidebar {
  font-weight: bold;
  font-size: 18px;
  /* color: #6AD2CD; */
  
  color: #1976D2; /* 기본 글자색 */

  /* text-shadow: 
      0.5px 0.5px 1px gray, 
      -0.5px -0.5px 1px gray,
      0.5px -0.5px 1px gray,
      -0.5px 0.5px 1px gray;  */
      
      /* 얇고 연한 회색 테두리 효과 */
}

.typo-sidebar:hover {
  /* background-color: rgb(240, 235, 235); 마우스 오버 시 배경색 */

  background-color: #d6f1e8; 
  /* 연녹색  */
}



